 .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 900px;
  font-size: 20px;
  font-weight: 500;
  padding: 18px 42px;
}

@media (max-width: 768px) {
  .btn {
    font-size: 18px;
    line-height: 120%;
    padding: 12px 32px;
  }
}

@media (max-width: 350px) {
  .btn {
    font-size: 16px;
  }
}

/*--------------------disabled--------------------*/

.disabled {
  opacity: 0.75;
}

.disabled:hover {
  cursor: not-allowed;
  opacity: 0.85;
}

/*--------------------/disabled--------------------*/


/*--------------------Variants--------------------*/
.generalVariant {
  color: #fff;
  background: #41A4DF;
}

.generalVariant:hover {
  background: #297EE2;
}

.secondaryVariant {
  color: #297EE2;
  background: rgba(41, 126, 226, 0.12);
}

.secondaryVariant:hover {
  background: rgba(65, 164, 223, 0.16);
}

.primaryVariant {
  border: 1px solid rgba(255, 255, 255, 0.60);
  background: transparent;
}

.primaryVariant:hover {
  border: 1px solid #FFF;
}
  
/*--------------------/Variants--------------------*/